[submodule "WebGame"]
	path = WebGame
	url = https://github.com/idClip42/Pizza-Quest.git
	branch = OriginalGame
[submodule "sh-tracker"]
	path = sh-tracker
	url = https://github.com/idClip42/sh-tracker.git
[submodule "sh-tracker-2"]
	path = sh-tracker-2
	url = https://github.com/idClip42/sh-tracker-2.git
	branch = master
